* {
  box-sizing: border-box;
}
html, body, span,
h1, h2, h3, h4, h5, h6, 
a,ul, li, p{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
section {
  padding-top: 80px;
}
button {
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #433245;
  font-size: 13px;
  color: #9a8b9b;
}
.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
pre {
  -webkit-box-shadow: 0px 1px 18px 15px rgba(254, 249, 215, 0.2);
  -moz-box-shadow: 0px 1px 18px 15px rgba(254, 249, 215, 0.2);
  box-shadow: 0px 1px 18px 15px rgba(254, 249, 215, 0.2);
}
.hljs {
  background-color: #433245;
  color:rgb(154, 139, 155);
}
iframe {
  border: none;
}
.title,
h2 {
  color: #ae6fb1;
}
.title {
  margin-bottom: 30px;
}
.content {
  line-height: 30px;
}
.title-date {
  text-decoration: underline;
  color: #9a8b9b;
}
.logo-link {
  position: relative;
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(to right, #433245, #d299c2, #fef9d7);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 21px;
}
.logo-link::after,
.logo-link::before {
  content: '';
  position: absolute;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  z-index: 0;
}
.logo-link::after {
  transform: translate(6px, 10px);
  background-color: #d299c2;
  top: -6px;
  left: -30px;
}
.logo-link::before {
  transform: translate(-6px, -10px);
  background-color:#433245;
  top: 14px;   
  left: -25px;
}
.header {
  background: transparent;
  transition: 0.6s;
  z-index: 10;
  padding: 18px 7px;  
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}
.header-menu-list {
  display: flex;
  justify-content: space-between;
}
.menu-link {
  padding: 20px;
  font-size: 21px;
  color: #6b5063;
}
.menu-item a:hover {
  text-decoration: underline;
  color: #6b5063;
  transition: 0.3s;
}
.main-container {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
}
.about-photo {
  position: relative;
  margin-right: 20px;
}
.main__slides {
  position: relative;
}
.prev,
.next {
  position: absolute;
  top: 30%;
  height: 60px;
  width: 60px;
  z-index: 1;
  cursor: pointer;
}
.prev {
  left: -100px;
}
.next {
  right: -100px;
}
.avatar { 
  background-image: url(../images/frame.jpg);
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  padding: 20px;
  object-fit: cover;
  border-radius: 50%;
}
.about-photo::before,
.about-photo::after {
  content: '';
  position: absolute;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  z-index: -1;
}
.about-photo::before {
  width: 165px;
  height: 165px;
  transform: translate(6px, 10px);
  background-color: #fef9d7;
  top: 12px;
  left: 17px;
}
.about-photo::after {
  transform: translate(-6px, -10px);
  background-color:#d299c2;
  top: 18px;
  left: 15px;
}
.about-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  padding: 30px 98px;
  -webkit-box-shadow: 0px 1px 18px 15px rgba(254, 249, 215, 0.2);
-moz-box-shadow: 0px 1px 18px 15px rgba(254, 249, 215, 0.2);
box-shadow: 0px 1px 18px 15px rgba(254, 249, 215, 0.2);
}
.social ul {
  display: flex;
  justify-content: center;
}
.social ul li {
  margin-right: 10px;
}
.contact-list {
  margin-bottom: 10px;
}
.paper-title {
  font-size: 37px;
  color: #ae6fb1;
}
.paper-text {
  font-size: 25px;
  display: block;
  color: #624863;
  margin-bottom: 15px;
}
.self ul li {
  background-repeat: no-repeat;
  background-position: 0 .1em;
  line-height: 21px;
  display: block;
  margin-top: -2px;
}
.self ul li a {
  color: rgb(154, 139, 155);
}
.self ul li.tel {
  background-image: url(../images/icn-tel.gif);
}
.self ul li.mail {
  background-image: url(../images/icn-mail.gif);
}
.self ul li.address {
  background-image: url(../images/icn-ad.gif);
}
.entry {
  margin: 30px 0;
}
h2 {
  color: #ae6fb1;
  font-size: 31px;
}
h3 {
  font-size: 13px;
  color: rgb(154, 139, 155);
  margin: 10px 0;
}
.works {
  margin-bottom: 50px;
}
.works-link {
  margin-top: 20px;
  color: #9a8b9b;
  transition: .2s;
}
.works-link:hover {
  display: block;
  border-bottom: 1px solid #9a8b9b;
}
.slider-items {
  display: flex;
  justify-content: space-between;
}
.main-slide {
  position: relative;
}
.main-slide-text,
.main-slide-title {
  color:#fff;
  padding: 4px;
}
.project-link {
  position: relative;
}
.overlap {
  position: absolute;
  top: 17px;
}
.overlap-inner {
  position: absolute;
  bottom: 52px;
  left: 40px;
}
.main-slide img{
  width: 250px;
  height: 300px;
  object-fit: contain;
}
.social-link>img {
  height: 26px;
  width: 26px;
  object-fit: cover;
  border-radius: 8px;
  background-color: transparent;
}
ul.skills li {
  margin: 6px 0px 0px;
  padding: 0px 0px 0px 10px;
}
.content-text {
  font-size: 20px;
  font-weight: 500;
}
.works-link {
  display: block;
  margin: 7px 0;
}
.works-link:hover {
  border-bottom: 1px solid #9a8b9b;
}
.header,
.footer {
  background-color: #fff;
}
.footer {
  padding: 50px 50px;
}
.footer-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contact-links {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.contact-links-item a {
  color: #9a8b9b;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 700;
  padding: 10px; 
}
.contact-links-item:hover {
  text-decoration: underline;
  color: #9a8b9b;
  transition: 0.3s;
}
@media (max-width: 1024px) {
  .container {
    max-width: 992px;
  }
  .footer-inner {
    flex-direction: column;
    align-items: center;
  }
  iframe {
    width: 640px;
    height: 265px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 870px;
  }
  .logo-link span {
    font-weight: 700;
    font-size: 18px;
  }
  .logo-link .logo-text {
    font-weight: 300;
    font-size: 14px;
  }
  .about-cards {
    flex-direction: column;
  }
  iframe {
    width: 470px;
    height: 265px;
  }
}
@media (max-width: 640px) {
  body.lock {
    overflow: hidden;
  }
  .container {
    max-width: 540px;
  }
  .menu-link {
    font-size: 25px;
    color: #433245;
    line-height: 51px;
  }
.menu-body {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 64px;
  left: 0;
  width: 100%;
  background-color: #fff;
  transition: transform 0.5s ease-out;
  z-index: 10;
  transform: translateY(-120vh);
  text-align: center;
}
.menu-body.active {
  transform: translateY(-10px);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
  .header-menu-list {
    display: block;
  }
  .hamburger-menu {
    display: block;
    width: 24px;
    height: 18px;
    position: relative;
    cursor: pointer;
  }
  .hamburger-menu::before,
  .hamburger-menu::after,
  .hamburger-menu span {
    position: absolute;
    left: 0;
    height: 10%;
    width: 100%;
    background-color: #433245;
    transition: all 0.3s ease 0s;
  }
  .hamburger-menu::before,
  .hamburger-menu::after {
    content: "";
  }
  .hamburger-menu::before {
    top: 0;
  }
  .hamburger-menu::after {
    bottom: 0;
  }
  .hamburger-menu span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .hamburger-menu.active span {
    transform: scale(0) translate(0px, -50%);
  }
  .hamburger-menu.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .hamburger-menu.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .about-cards {
    max-width: 600px;
  }
}
@media (max-width: 320px) {
  .container {
    max-width: 300px;
  }
  .about-cards {
    max-width: 300px;
    padding: 20px 5px;
    box-shadow: none;
  }
}
